In [24]:
import pandas as pd
airbnb_data = "Resources/AB_NYC_2019.csv"
airbnb_df = pd.read_csv(airbnb_data, encoding="UTF-8")

In [44]:
AB_df = pd.DataFrame(airbnb_df)

In [45]:
NY_AB_reorganized = AB_df[["neighbourhood_group", "room_type", "price", "minimum_nights"]]

In [43]:
NY_renamed = NY_AB_reorganized.rename(columns={"neighbourhood_group": "Neighborhood", "room_type": "Room type", "minimum_nights": "Min stay"})
NY_renamed.head()

  Neighborhood        Room type  price  Min stay
0     Brooklyn     Private room    149         1
1    Manhattan  Entire home/apt    225         1
2    Manhattan     Private room    150         3
3     Brooklyn  Entire home/apt     89         1
4    Manhattan  Entire home/apt     80        10