In [1]:
import pandas as pd
airbnb_data = "Resources/AB_NYC_2019.csv"
airbnb_df = pd.read_csv(airbnb_data, encoding="UTF-8")

In [2]:
AB_df = pd.DataFrame(airbnb_df)

In [3]:
NY_AB_reorganized = AB_df[["neighbourhood_group", "room_type", "price"]]
NY_AB_reorganized.head()

  neighbourhood_group        room_type  price
0            Brooklyn     Private room    149
1           Manhattan  Entire home/apt    225
2           Manhattan     Private room    150
3            Brooklyn  Entire home/apt     89
4           Manhattan  Entire home/apt     80

In [4]:
NY_renamed = NY_AB_reorganized.rename(columns={"neighbourhood_group": "Neighborhood", "room_type": "Room type"})
NY_renamed.head()

  Neighborhood        Room type  price
0     Brooklyn     Private room    149
1    Manhattan  Entire home/apt    225
2    Manhattan     Private room    150
3     Brooklyn  Entire home/apt     89
4    Manhattan  Entire home/apt     80

In [14]:
#groupby neighborhood, display neighborhood by room type, neighborhood by price

grouped_NYC_df = NY_renamed.groupby(['Neighborhood', 'Room type'])
grouped_NYC_df.count().head(15)

                               price
Neighborhood  Room type
Bronx         Entire home/apt    379
              Private room       652
              Shared room         60
Brooklyn      Entire home/apt   9559
              Private room     10132
              Shared room        413
Manhattan     Entire home/apt  13199
              Private room      7982
              Shared room        480
Queens        Entire home/apt   2096
              Private room      3372
              Shared room        198
Staten Island Entire home/apt    176
              Private room       188
              Shared room          9

In [15]:
avg_price_NYC_df = pd.DataFrame(NY_renamed.groupby(['Neighborhood', 'Room type']).mean()['price'])
avg_price_NYC_df

                                    price
Neighborhood  Room type
Bronx         Entire home/apt  127.506596
              Private room      66.788344
              Shared room       59.800000
Brooklyn      Entire home/apt  178.327545
              Private room      76.500099
              Shared room       50.527845
Manhattan     Entire home/apt  249.239109
              Private room     116.776622
              Shared room       88.977083
Queens        Entire home/apt  147.050573
              Private room      71.762456
              Shared room       69.020202
Staten Island Entire home/apt  173.846591
              Private room      62.292553
              Shared room       57.444444